
body {
  margin: 0px;
  padding: 0px;
  /*font-family: sans-serif;*/
  text-align: center;
  color: #000000;
}

a {
  text-decoration: none;
  color: #000000;
}

header {
  position: fixed;
  top: 0;
  right: 0;
  left: 0;
  font-size: 40px;
  color: #ffffff;
  padding: 18px;
  background-color: #000000;
  opacity: 0.3;
}

.header-background {
  background-color: #000000;
  font-size: 40px;
  color: #ffffff;
  padding: 18px;
}

.main-container {
  display: flex;
  flex-direction: column;
  background-color: transparent;
}

.landing-container {
  flex-direction: row;
  margin: 50px 40px 50px 40px;
  padding: 30px;
  height: 400px;
}

.landing-container .landing-description {
  font-size: 14px;
  margin: 20px auto;
}

.landing-container .links-image {
  height: 45px;
  width: 125px;
  margin: 20px;
}

.section-container {
  flex-direction: row;
  margin: 40px 60px 40px 60px;
  padding: 30px;
}

.section-container-image {
  height: 45px;
  width: 125px;
  margin-bottom: 30px;
}

.waypoint-container {
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  height: 500px;
}

.waypoint-alertifyDotJS {
  background-image: url('../assets/images/alertifyDotJS.png');
}

.waypoint-alertifyJS {
  background-image: url('../assets/images/alertifyJS.png');
}

.waypoint-notyf {
  background-image: url('../assets/images/notyf.png');
}

.waypoint-sweetAlert2 {
  background-image: url('../assets/images/sweetAlert2.png');
}

footer {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  font-size: 15px;
  color: #ffffff;
  padding: 5px;
  background-color: #000000;
  opacity: 0.3;
}

.footer-background {
  background-color: #000000;
  font-size: 15px;
  color: #ffffff;
  padding: 5px;
}





@media(max-width:568px) {

  .landing-container {
    flex-direction: row;
    margin: 20px 20px 20px 20px;
    padding: 20px;
    height: 520px;
  }

  .section-container {
    flex-direction: row;
    margin: 20px 20px 20px 20px;
    padding: 20px;
  }

}
